name: "Event Filter Add-on"
version: "1.0.1"
slug: "eventtoicloud"
description: "Un add-on pour filtrer des événements et les envoyer à un calendrier iCloud."
url: "https://github.com/Frazou1/eventtoicloud"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
map:
  - share:rw
options:
  keyword: "Réunion"
  event_source_url: "https://api.example.com/events"
  icloud_username: "ton-email@icloud.com"
  icloud_password: "ton-mot-de-passe"
  icloud_calendar_url: "https://caldav.icloud.com/ton-id/calendars/ton-calendrier/"
  mqtt_broker: "homeassistant.local"
  mqtt_port: 1883
  mqtt_topic: "homeassistant/sensor/event"
  update_interval: 600  # En secondes (10 minutes)
schema:
  keyword: "str"
  event_source_url: "str"
  icloud_username: "str"
  icloud_password: "password"
  icloud_calendar_url: "str"
  mqtt_broker: "str"
  mqtt_port: "int"
  mqtt_topic: "str"
  update_interval: "int"
build:
  builder: docker
  file: Dockerfile
