{
  "name": "Event Filter Add-on",
  "version": "1.6.9",
  "slug": "eventtoicloud",
  "description": "Un add-on pour filtrer des événements et les envoyer à un calendrier iCloud.",
  "url": "https://github.com/Frazou1/eventtoicloud",
  "arch": [
    "armhf",
    "armv7",
    "aarch64",
    "amd64",
    "i386"
  ],
  "init": false,
  "map": [
    "share:rw",
    "config:rw"
  ],
  "options": {
    "keyword": "Réunion",
    "event_source_url": "https://api.example.com/events",
    "icloud_username": "ton-email@icloud.com",
    "icloud_password": "ton-mot-de-passe",
    "icloud_calendar_url": "https://caldav.icloud.com/ton-id/calendars/ton-calendrier/",
    "mqtt_host": "homeassistant.local",
    "mqtt_port": 1883,
    "mqtt_username": "votre_utilisateur_mqtt",
    "mqtt_password": "votre_mot_de_passe_mqtt",
    "update_interval": 600
  },
  "schema": {
    "keyword": "str",
    "event_source_url": "str",
    "icloud_username": "str",
    "icloud_password": "password",
    "icloud_calendar_url": "str",
    "mqtt_host": "str",
    "mqtt_port": "int",
    "mqtt_username": "str",
    "mqtt_password": "password",
    "update_interval": "int"
  },
  "build": {
    "builder": "docker",
    "file": "Dockerfile"
  }
}
